body{
	background-image: url(background.png) ;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  90%;
	background-color: black;
}
.output{
  line-height: 3em;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 7em;
  height: 2em;
}
#calculator{
	margin-left: 771px;
	margin-top:133px;
}
button{
	height:110px;
	width:88px;
}
#bawah{
	width:180px;
}

button {

    background: transparent;
    border: none !important;
    font-size:0;
}